::ng-deep .mat-mdc-card-header-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.subtitle span {
  margin: 0 10px;
}

.content {
  display: flex;
  align-items: flex-start;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin: 0 10px;
}

.top-rated-icon {
  color: orange;
  margin-left: 10px;
}
