<mat-card [appCourseBorder]="creationDate">
  <mat-card-header>
    <mat-card-title class="title">
      <h2>{{course.title}}</h2>
      <mat-icon *ngIf="course.topRated" class="top-rated-icon">star</mat-icon>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
      <span>{{course.duration}}</span>
      <span>{{formattedDate}}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    {{course.description}}
    <div class="actions">
      <button mat-raised-button color="primary" (click)="edit()">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button mat-raised-button color="primary" (click)="delete()">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </div>
  </mat-card-content>
</mat-card>
