img.logo {
  width: 40px;
  height: auto;
  margin-right: 16px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.user-name {
  display: flex;
  align-items: center;
}

.user-icon {
  margin-right: 4px;
}

.logout,
.login {
  font-size: inherit;
  margin-left: 16px;
}


