<mat-toolbar color="primary" class="container">
  <img src="../../../../assets/images/logo.png" alt="Logo" class="logo">
  <span>VIDEO COURSE</span>

  <span class="spacer"></span>

  <div class="user-name" *ifAuthenticated="isAuthenticated()">
    <mat-icon class="user-icon">person</mat-icon>
    <span>{{userLogin}}</span>
  </div>
  <button mat-button class="logout" *ifAuthenticated="isAuthenticated()" (click)="logout()">
    <mat-icon class="logout" style="margin-right: 4px;">logout</mat-icon>
    Logout
  </button>
  <button mat-button class="login" *ifAuthenticated="!isAuthenticated()">
    <mat-icon class="login" style="margin-right: 4px;">login</mat-icon>
    Log in
  </button>
</mat-toolbar>
