<div class="container" *ngIf="courses.length">
  <div class="course-item" *ngFor="let course of courses; trackBy: trackByFn">
    <app-course-item [course]="course" (deletedCourseId)="deleteCourse($event)"></app-course-item>
  </div>

  <button
    mat-raised-button
    class="load-more"
    (click)="loadMore()"
  >
    <span>Load more</span>
  </button>
</div>

<div class="error" *ngIf="!courses.length">
  <p [ngStyle]="{'text-align': 'center'}">{{"No data. Feel free to add new course" | uppercase}}</p>
</div>

